<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
<center>
{% include "email/header-template.html" %}
    <h2 style="color:#333;font-family:'Myriad Pro',Arial,sans-serif;font-weight: bold;padding:0;margin:40px 0 25px;text-align:left;line-height:1;word-break:normal;font-size:30px;letter-spacing:-1px">{{ siteName }} Bad Credit Card</h2> <p style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:16px;font-weight:300;color:#333333;line-height:20px;padding:0;text-align:left;margin-bottom:15px">Hello {{ invClientName }} <br/><br/>Whoops!, it looks like the Credit Card on file can not be processed.  Please login to your account and update your Payment Method.<br/><br/>{{ siteUrlWWW }}<br/><br/><b style="font-weight:bold;">Error Description :</b> {{ error }}<br/><br/><b style="font-weight:bold;">Credit Card Number :</b> {{ cardNumber }}<br/><br/>Thank You<br/><br/>Support<br/><br/></p>
{% include "email/footer-template.html" %}
</center>
</div>
