<br/> </p></div></td></tr>
<tr>
    <td>
        <br/>
        <div align='center'>
            <p style="margin:0;word-wrap:normal;font-family:'Myriad Pro',Arial,sans-serif;font-size:14px;color:#00599A;line-height:25px;text-align:center;margin-top:15px;">
            <div style='color:#00599A;padding-top:2px'>&copy;2001-2022 All Rights Reserved.</div>
            <div style='color:#00599A;padding-top:2px'>{{ siteName }} &reg; is a division of {{ mainCompanyName }}.</div>
            <div style='padding-top:2px'><font color='#00599A'>Email:</font>
                <a style='color:#00599A' href='mailto:{{ toAdminSupportEmail }}'>{{ toAdminSupportEmail }}</a>
            </div>
            <div style='padding-top:2px'><a style='color:#00599A;margin: 0px auto;'
                                            href='{{ siteUrlWWW }}' target='_blank'>
                    <img tabindex="0" src="{{ SITEURL }}img/logo.png" style="margin:0;margin-top:15px;padding:0;outline:none;text-decoration:none;max-width:100%" border="0">
                </a></div>
            </p></div>
        <div>
    </td>
</tr> </tbody> </table></td> </tr> </tbody> </table> </center></td> </tr>

</tbody></table></div>
