<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
<center>
{% include "email/header-template.html" %}
    <br><br><div>Hello {{ memFirstName }} {{ memLastName }}
    <br><br>One of your contacts has opted out of future email communication and we have removed them from your list. To keep your account in good standing, please respect their privacy wishes and ensure you get your emails from reliable sources.</div>
    <div><br><strong>Name : </strong>{{ firstName }} {{ lastName }}</div>
    <div><br><strong>Email : </strong>{{ email }}</div>
{% include "email/footer-template.html" %}
</center>
</div>
