<div style="font-family: 'Myriad Pro',Arial,sans-serif;line-height: 1.5">
<center>
{% include "email/header-template.html" %}
    <br />You have been successfully removed from that Email List.<br />If you continue to receive unwanted emails from this Vendor please tell us and we will address the matter with our client immediately. <br /><br />Thank You<br /><br /><a href='{{ supportSiteUrl }}' target='_blank'>Click Here</a> to Tell Us.<br />
{% include "email/footer-template.html" %}
</center>
</div>
